In [5]:
a = 3
b = 4
h = (a**2+b**2)**0.5
print(h)

5.0

In [6]:
A = [28.7, 25.0, 41.5, 29.9, 42.9, 44.8]
print(A)

[28.7, 25.0, 41.5, 29.9, 42.9, 44.8]

In [13]:
A[4:end]

NameError: name 'end' is not defined

In [14]:
B = [ [1,2,3], [4,5,6, ['a','b','c']]]

In [15]:
print(B)

[[1, 2, 3], [4, 5, 6, ['a', 'b', 'c']]]

In [17]:
B[1]

[4, 5, 6, ['a', 'b', 'c']]

In [18]:
B[0]

[1, 2, 3]

In [25]:
B[1][3][0]

'a'

In [26]:
data = {"coord":{"lon":-0.13,"lat":51.51},
        "weather":[{"description":"light intensity drizzle"}],
        "base":"stations",
        "main":{"temp":280.32,"pressure":1012,"humidity":81},
        "visibility":10000,
        "wind":{"speed":4.1,"deg":80},
        "clouds":{"all":90},
        "dt":1485789600,
        "sys":{"country":"GB","sunrise":1485762037},
        "id":2643743,
        "name":"London",
        "cod":200}

In [27]:
data

{'coord': {'lon': -0.13, 'lat': 51.51},
 'weather': [{'description': 'light intensity drizzle'}],
 'base': 'stations',
 'main': {'temp': 280.32, 'pressure': 1012, 'humidity': 81},
 'visibility': 10000,
 'wind': {'speed': 4.1, 'deg': 80},
 'clouds': {'all': 90},
 'dt': 1485789600,
 'sys': {'country': 'GB', 'sunrise': 1485762037},
 'id': 2643743,
 'name': 'London',
 'cod': 200}

In [39]:
print(data['wind']{'speed'})

SyntaxError: invalid syntax (<ipython-input-39-1e89abf67238>, line 1)

In [40]:
mytuple = (10,20,30)
mytuple[0] = 11;

TypeError: 'tuple' object does not support item assignment

In [41]:
print(mytuple)

(10, 20, 30)

In [43]:
mytuple[0]

10

In [62]:
filename = "myfile"
extension = ".csv"
path = "/User/Documents/Datafiles/"
fullpath = [path + filename + extension]
print(fullpath)

['/User/Documents/Datafiles/myfile.csv']

# word
**word**
word
>word

# ^word^