In [12]:
import os
import glob

dataset_dir = 'C:/Users/Pedro Rossini/Desktop/Coding/introcoding-spring-2019/Datasets'
glob.os.chdir(dataset_dir) # Tells the computer where to go
print(glob.os.getcwd()) # Print current working directory

C:\Users\Pedro Rossini\Desktop\Coding\introcoding-spring-2019\Datasets

In [17]:
import pandas as pd

data = pd.read_csv('tribune_daily_historical.csv')
data.head(5)

         Date  Tmax  Tmin  Precipitation  Snow
0  01/01/1900    32    13            0.0   0.0
1  02/01/1900    44    14            0.0   0.0
2  03/01/1900    53    28            0.0   0.0
3  04/01/1900    51    24            0.0   0.0
4  05/01/1900    48    24            0.0   0.0

In [19]:
data['Tmax']

0        32
1        44
2        53
3        51
4        48
5        52
6        51
7        54
8        46
9        50
10       44
11       49
12       64
13       60
14       45
15       40
16       48
17       48
18       59
19       50
20       51
21       58
22       65
23       45
24       41
25       45
26       28
27       22
28       51
29       41
         ..
40147    63
40148    32
40149    27
40150    37
40151    51
40152    20
40153    12
40154    10
40155    15
40156    25
40157    34
40158    51
40159    59
40160    34
40161    39
40162    55
40163    56
40164    49
40165    49
40166    59
40167    64
40168    43
40169    29
40170    21
40171    23
40172    30
40173    36
40174    43
40175    41
40176    43
Name: Tmax, Length: 40177, dtype: int64

In [28]:
names = pd.read_csv('nobel_physics.txt', header=None, sep=',')
#names.head(5)
#names_list = names[0].values #create a list, modifying the original data tipe .txt
names_list = names[0] # keeping the data in the original format
print(names_list)

0              Albert Einstein
1            Werner Heisenberg
2                  Marie Curie
3            Guglielmo Marconi
4                  Peter Higgs
5                 Enrico Fermi
6              Ernest Lawrence
7                   Paul Dirac
8                Lord Rayleigh
9      Antoine Henri Becquerel
10      Wilhelm Conrad Röntgen
11             Hendrik Lorentz
12                  Max Planck
13                  Niels Bohr
14                Gustav Hertz
15           Werner Heisenberg
16           Erwin Schrödinger
17                  Paul Dirac
18                Enrico Fermi
19               Hideki Yukawa
20    Richard Phillips Feynman
Name: 0, dtype: object

In [31]:
print(names_list[0])

Albert Einstein

In [33]:
#Another option for open a file 

file = open('nobel_physics.txt')
names_list2 = file.read()
file.close()
print(names_list2)

Albert Einstein,
Werner Heisenberg,
Marie Curie,
Guglielmo Marconi,
Peter Higgs,
Enrico Fermi,
Ernest Lawrence,
Paul Dirac,
Lord Rayleigh,
Antoine Henri Becquerel,
Wilhelm Conrad RÃ¶ntgen,
Hendrik Lorentz,
Max Planck,
Niels Bohr,
Gustav Hertz,
Werner Heisenberg,
Erwin SchrÃ¶dinger,
Paul Dirac,
Enrico Fermi,
Hideki Yukawa,
Richard Phillips Feynman

In [35]:
names_list3 = open('nobel_physics.txt').read()
print(names_list3)

Albert Einstein,
Werner Heisenberg,
Marie Curie,
Guglielmo Marconi,
Peter Higgs,
Enrico Fermi,
Ernest Lawrence,
Paul Dirac,
Lord Rayleigh,
Antoine Henri Becquerel,
Wilhelm Conrad RÃ¶ntgen,
Hendrik Lorentz,
Max Planck,
Niels Bohr,
Gustav Hertz,
Werner Heisenberg,
Erwin SchrÃ¶dinger,
Paul Dirac,
Enrico Fermi,
Hideki Yukawa,
Richard Phillips Feynman

In [36]:
names_list4 = [line.strip('\n') for line in open('nobel_physics.txt')]
print(names_list4)

['Albert Einstein,', 'Werner Heisenberg,', 'Marie Curie,', 'Guglielmo Marconi,', 'Peter Higgs,', 'Enrico Fermi,', 'Ernest Lawrence,', 'Paul Dirac,', 'Lord Rayleigh,', 'Antoine Henri Becquerel,', 'Wilhelm Conrad RÃ¶ntgen,', 'Hendrik Lorentz,', 'Max Planck,', 'Niels Bohr,', 'Gustav Hertz,', 'Werner Heisenberg,', 'Erwin SchrÃ¶dinger,', 'Paul Dirac,', 'Enrico Fermi,', 'Hideki Yukawa,', 'Richard Phillips Feynman']