In [5]:
a,b,c = 1,2,"John"
print(a)
print(b)
print(c)

1
2
John

In [7]:
tuple = (1,50,'Pedro')
list = [1,50,'Pedro']

In [14]:
list[2] = 'Michael' 
print(tuple[1:])
print(list)

(50, 'Pedro')
[1, 50, 'Michael']

In [22]:
dic = {'code':123,'number':'ochenta'}
print(dic.keys())
h = dic.keys()
print(h)

dict_keys(['code', 'number'])
dict_keys(['code', 'number'])

In [26]:
str = ['12345']
print(str)
str2 = '1234'
print(str2)

['12345']
1234

In [32]:

9/4

2.25

In [35]:
a = 10
b = 20

In [37]:
b/a

2.0

In [44]:
a = 10,20,30,40
b = 10,20,200,2000
a!=b

True

In [49]:
var1 = 'Hello World!'
print(var1)
print ("Updated String :- ", var1[:6] + 'Python')

Hello World!
Updated String :-  Hello Python

In [54]:
var1[:6]

'Hello '

In [60]:
mylist = [2000,2001,2002,2003,['apple','orange']]
mylist[0:-1]

[2000, 2001, 2002, 2003]

In [63]:
mylist[4][0]

'apple'

In [69]:
fruits = mylist[4]
print(mylist)
print(fruits)
fruits[1]

[2000, 2001, 2002, 2003, ['apple', 'orange']]
['apple', 'orange']

'orange'

In [80]:
# List methods
print(mylist.count(2000)) # Count specific element. Takes only one argument
mylist.index(2001) 
#mylist.append([2003,2004])
print(mylist)

1
[2000, 2001, 2002, 2003, ['apple', 'orange'], [2003, 2004], [2003, 2004], [2003, 2004], [2003, 2004], [2003, 2004]]

In [82]:
# List methods
print(mylist.count(2000)) # Count specific element. Takes only one argument
mylist.index(2001) 
#mylist.append([2003,2004])
print(mylist)

1
[2000, 2001, 2002, 2003, ['apple', 'orange'], [2003, 2004], [2003, 2004], [2003, 2004], [2003, 2004], [2003, 2004]]

In [101]:
a = 15
print(type(a))
newa = str(a)

b = 5
print(type(5))

<class 'int'>

TypeError: 'list' object is not callable

In [102]:
a = 8
print(type(a))         # Print data type before conversion
my_string = str(a)     # Store converted string into a separate variable to avoid overwriting 'a'
print(my_string)

<class 'int'>

TypeError: 'list' object is not callable